
<div>

<h1>Rules of Poker - Texas Hold'em</h1><br>

<p>Texas Hold'em (or just "hold'em" for short) is currently the most popular variation of poker, thanks mainly to televised coverage of the World Series of Poker, the World Poker Tour, and various celebrity-based events. The no-limit version is often described as the "Cadillac of poker, taking only a minute to learn but a lifetime to master."</p>

<h3><u>Play of the Hand</u></h3>

<p>Each player is dealt two down (or hole) cards that only they can see. A round of betting occurs. Three community cards (known as the "flop") are dealt face up in the middle of the table. Another round of betting occurs. A fourth community card (known as the "turn") is dealt face up on the table. Another round of betting occurs. A fifth and final community card (known as the "river") is dealt face up on the table. A final round of better occurs. The player's hole cards are revealed and the player with the best five-card poker hand wins the pot. Your five card hand can consist of none, one, or both of your hole cards along with five, four, or three of the community cards. If two or more players share the same best hand, the pot is divided equally among the winners.</p>

<h3><u>Rank of Hands</u></h3>

<p>Poker hands are ranked in the order specified below, lowest to highest. Note that only card rank (deuce through ace) matter in poker when comparing individual cards. The suits of clubs, diamonds, hearts, and spades are all considered equal.</p>

<ol>
<li><p><b>High Card</b>: Cards are ranked deuce (2) as the lowest to ace as the highest. If two or more players have the same high card, then the second highest card (and so on, to the fifth card if necessary) determine the winner.</p>
<%= image_tag("rules/HighCard.png", alt: "High Card") %>
</li>

<li><p><b>Pair</b>: A pair (two cards of the same rank) beats high card. The highest pair is a pair of aces. If two or more players have the same pair, then the highest of the three remaining cards (known as kickers) determine the winner.</p>
<%= image_tag("rules/Pair.png", alt: "Pair") %>
</li>

<li><p><b>Two Pair</b>: Two pair beats a pair. If two or more players have two pair, then the highest pair determines the winner. For example, a pair of aces and sevens beats a pair of kings and queens. If two or more players have the same two pair then the fifth card kicker determines the winner.</p>
<%= image_tag("rules/TwoPair.png", alt: "Two Pair") %>
</li>

<li><p><b>Three of a Kind</b>: Three of a kind (three cards of the same rank) beats two pair. Three aces is the best of these. If two or more players share the same three of a kind hand, the two remaining kickers determine the winner.</p>
<%= image_tag("rules/ThreeofaKind.png", alt: "Three of a Kind") %>
</li>

<li><p><b>Straight</b>: A straight beats three of a kind. A straight is five consecutive card ranks. Aces can be high or low so the lowest straight is ace through five while the highest is ten through ace. There are no kickers with straights since all five cards are needed to make the hand.</p>
<%= image_tag("rules/Straight.png", alt: "Straight") %>
</li>

<li><p><b>Flush</b>: A flush beats a straight. A flush is any five cards all of the same suit (i.e., all diamonds or all spades, etc.). If two of more players share a flush then the player with the highest card (all the way to the fifth card if necessary) in the flush wins.</p>
<%= image_tag("rules/Flush.png", alt: "Flush") %>
</li>

<li><p><b>Full House</b>: A full house beats a flush. A full house is the combination of three of a kind and a pair. If two or more players have a full house then the player with the best three of a kind wins. If those are the same then the player with the best pair wins.</p>
<%= image_tag("rules/FullHouse.png", alt: "Full House") %>
</li>

<li><p><b>Four of a Kind</b>: Four of a kind (four cards of the same rank) beats a full house. If two or more players share the same four of a kind, then the fifth card kicker determines the winner.</p>
<%= image_tag("rules/FourofaKind.png", alt: "Four of a Kind") %>
</li>

<li><p><b>Straight Flush</b>: A straight flush (five consecutive cards all of the same suit) beats four of a kind. Aces can be high or low. An ace-high straight flush is called a royal flush, the best possible hand in poker.</p>
<%= image_tag("rules/RoyalFlush.png", alt: "Royal Flush") %>
</li>
</ol>


<h3><u>Blinds and the Button</u></h3>

<p>A dealer button (or just the "button") is a white disk that is rotated clockwise among the players. The player that is "on the button" is the last to act in each betting round, after the flop.</p>

<p>In Texas Hold'em, there are forced bets called "blinds" made prior to the dealing of the hole cards. These blinds are similar to antes except they only involve two players and the bets do not immediately go into the pot. The player to the left of the button posts the "small blind" and the next player posts the "big blind".  The small blind is typically half of the big blind and the big blind is the minimum bet or raise that can be made in this and all subsequent rounds.  In Limit Hold'em the big blind is equal to the "small bet". In tournament play, the blinds are raised at set intervals, or levels. This keeps the action going and puts a definite end point on the game. Otherwise, players could just keep folding their hands and the game would go on for hours or days.</p>

<p>Once the two blinds are posted, the player to the left of the big blind is the "first to act" and has the option of folding, calling the big blind bet, or raising. Play continues around to the button. Then the player who posted the small blind has the option to call or raise the bets so far. And the same goes for the player who posted the big blind. If no one raised the big blind then that player has the option to "check" and the flop will be dealt. There are no more forced bets after the flop and first person to the left of the button (who hasn't yet folded) will be the first to act in subsequent betting rounds.</p>

<h3><u>Side Pots</u></h3>

<p>A side pot is created when a player calls a bet but doesn't have enough chips to cover the bet or if a player raises when another player is already all-in. The main pot will only hold the chips that every player contributed equally to. The overflow bets go into the side pot, which the all-in player did not contribute to and therefore cannot win. There can be multiple side pots if there are multiple all-in players. The last side pot created is the first side pot awarded after the showdown. The main pot is awarded last. Players who fold before the showdown forfeit their right to all pots, including the main pot.</p>

</div>