<p id="notice"><%= notice %></p>
<h1> You are in the <%= @room_name %> on table <%= @table.number %></h1>
<div id="game-display" class="game-frame">
  <div id="opponents-row" class="row">
    <div id="first-player" class="opponent op-left col-sm-4">
      <div class="opponents-cards">
        <%= image_tag "cards/card_back.png", :class => "card-img" %>
        <%= image_tag "cards/card_back.png", :class => "card-img" %>
     </div>
      <div class="opponent-info">
        <p class="opp-p-1"></p>
      </div>
    </div>
    <div id="second-player" class="opponent op-center col-sm-4">
      <div class="opponents-cards">
        <%= image_tag "cards/card_back.png", :class => "card-img" %>
        <%= image_tag "cards/card_back.png", :class => "card-img" %>
      </div>
      <div class="opponent-info">
        <p class="opp-p-2"></p>
      </div>
    </div>
    <div id="third-player" class="opponent op-right col-sm-4">
      <div class="opponents-cards">
        <%= image_tag "cards/card_back.png", :class => "card-img" %>
        <%= image_tag "cards/card_back.png", :class => "card-img" %>
      </div>
      <div class="opponent-info">
        <p class="opp-p-3"></p>
      </div>
    </div>
  </div>
  <div id="message-row" class="row">
    <div class="col-sm-12">
      <p id="message"></p>
    </div> 
  </div> 
  <div id="game-row" class="row join-observer-row">
  </div>
  <div id="players-row" class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4" id="my-cards">
      <%= image_tag "cards/card_back.png", :class => "card-img", :id => "mycard1" %>
      <%= image_tag "cards/card_back.png", :class => "card-img", :id => "mycard2" %>
      <p id="my-p"></p>
    </div>
    <div id="action-console" class="col-sm-6">     
    </div> 
  </div>
</div>
<br>
<div id="chat-box" class="chat-frame">
  <div id="chats" class="chats">
    <ul id="chat-list" class="chat-list">
    </ul>
  </div>
  <div class="chat-input">
    <form action="../chat/new">
      <input id="chat-submit" class="btn-send-chat" type="submit" value="Submit"></input>
      <input id="chat-message" class="input-box" type="text" name="message"></input>
      <input id="chat-table-id" type="hidden" name="table_id" value=<%= "#{@table_id}" %>></input>
    </form>
  </div>
</div>
<%= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}'; var GAME_ID = '#{@game_id}'; var TABLE_ID = '#{@table_id}'" %>
<% if @player_position %>
  <%= javascript_tag "var PLAYER_POSITION = '#{@player_position}'"; %>
<% end %>
