<p id="notice"><%= notice %></p>

<h1>Welcome to the <%= @room.name %></h1>
<%= link_to '<< Back to Game Rooms', rooms_path %>

<table>
  <thead>
    <tr>
      <th>Table Name</th>
      <th>Players</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

  <% @tables.each do |t|  %>
  	<tr class="table-list">
  		<td>
    	 <%= link_to "table #{t.number}", t %>
    	</td>
      <td>
          <% t.get_usernames.each do |player| %>
              <u><%= player %></u>&nbsp;&nbsp;
          <% end %>
      </td>
      <% case t.get_status %>
        <% when "Playing"%>
          <td class="table-status-p">
        <% when "Waiting" %>
          <td class="table-status-w">
      <% end %>
      <%= t.get_status %>
      </td>
      <td>
      <%= button_to("Join Table", t, :class => "btn btn-join-table") %>
      </td>
    </tr>
  <% end %>

  </tbody>
</table>

<br>
<%= link_to '<< Back to Game Rooms', rooms_path %>

<% if @admin %>
<%= link_to 'Edit', edit_room_path(@room) %>
<% end %>
