<p id="notice"><%= notice %></p>

<h1>Welcome to the <%= @room.name %></h1>
<%= link_to '<< Back to Game Rooms', rooms_path %>

<table>
  <thead>
    <tr>
      <th>Table Name</th>
      <th>Players</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>

  <% @tables.each do |t|  %>
  	<tr>
  		<td>
    	<%= link_to "table #{t.number}", t %>
    	</td>
    	<td>
    </td>
  <% end %>

  </tbody>
</table>

<br>
<%= link_to '<< Back to Game Rooms', rooms_path %>

<% if @admin %>
<%= link_to 'Edit', edit_room_path(@room) %>
<% end %>
