<p id="notice"><%= notice %></p>

<h1>Welcome to the <%= @room.name %></h1>

<table>
  <thead>
    <tr>
      <th>Table Number</th>
      <th>Players</th>
      <th>Observers</th>
    </tr>
  </thead>
  <tbody>

  <% @tables.each do |t|  %>
  	<tr>
  		<td>
    	<%= link_to "#{t.number}", t %>
    	</td>
    	<td>
    </td>
  <% end %>

  </tbody>
</table>



<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
